{{>partial_header}}
package main

import (
	"log"

	sw "github.com/testcontainers/{{apiPath}}"
)

func main() {
	log.Printf("Server started")

	router := sw.NewRouter()

	log.Fatal(router.Run(":{{serverPort}}"))
}
